*{
  background-color: #FEFCF3; /*FEFCF3*/
  color: black;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  width: 100%;
}
